{% extends "main.html" %}
{% load staticfiles %}
{% block python_active %}active{% endblock %}
{% block title %}GitHub{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

	{% if messages %}
		{% for message in messages %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
				<div class="alert alert-success">
					<strong>Success!</strong> You have authorized GitHub.
				</div>
				<p>
					You should now be able to use the GitHub commands. For additional assistance,
					please inquire <a href="{% url 'discord' %}">on Discord</a>.
				</p>
			{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
				<div class="alert alert-danger">
					<strong>Error:</strong> {{ message }}
				</div>
				<p>
					If you need additional assistance with this error, please inquire
					<a href="{% url 'discord' %}">on Discord</a>.
				</p>
			{% endif %}
		{% endfor %}
	{% endif %}

	<div>
		<ul>
			<li>
				<a href="https://github.com/settings/applications" target="_blank">
					GitHub Authorizations
				</a>
				(to revoke access)
			</li>
			<li><a href="{% url 'home' %}">Go Home</a></li>
			<a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}"></a>
		</ul>
	</div>

	<p><em>Note: This feature is currently in Beta and may require re-authorization or change at any time.</em></p>

{% endblock %}
