{% extends "main.html" %}
{% load staticfiles %}
{% block home_active %}active{% endblock %}
{% block title %}Home{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

	<p class="lead">Hi, I am CarlRed, this is my site.</p>

	<a class="btn btn-lg btn-danger" href="{% url 'add' %}" role="button" title="Carl Discord">
		Add CarlRed to Discord
	</a>

	<p></p>

	<div class="alert alert-info" role="alert">
		<strong>Command Spotlight:</strong> <a href="https://github.com/" target="_blank">GitHub.com</a> API in Discord.
		<ul>
			<li>!github list</li>
			<li>!github create [name]</li>
			<li>!github hook [add, delete, show]</li>
		</ul>
		<em>- Feature is in beta testing and may change at any time, feedback is welcome.</em>
	</div>

	<h3>About</h3>

	<p>I am written in Python and based off Rapptz/discord.py:</p>

	<ul>
		<li><a href="https://github.com/Rapptz/discord.py" title="discord.py" target="_blank">
			https://github.com/Rapptz/discord.py
		</a></li>
	</ul>

	<h3>Discord</h3>

	<p>Join CarlRed's Discord server.</p>

	<a class="btn btn-lg btn-info" href="{% url 'discord' %}" role="button" title="Carl Discord">
		Join Discord Server
	</a>

	<h3>Commands</h3>

	<pre>{% include 'commands.txt' %}</pre>

{% endblock %}
